# Supabase (set these in AWS Amplify Environment Variables too)
NEXT_PUBLIC_SUPABASE_URL=https://ixinimgdzqhizphaczjx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml4aW5pbWdkenFoaXpwaGFjemp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzMTg5NzcsImV4cCI6MjA5OTg5NDk3N30.zib-8ya2X2IUGmjgZ1J6OrgiSi-VXzDOPKXGPE284-I